<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restone Cafe with Million Empression">
    <meta name="theme-color" content="#F2C07B" />

    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-196x196.png">

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Restone Cafe</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Skip and Go to Explore Cafe</a>

    <!-- Header Section -->
    <header>
        <a href="#/home-page" class="logo">Rest<span tabindex="-1">one</span></a>
        <nav id="navigationDrawer">
            <ul class="links-nav">
                <li><a href="#/home-page">Home</a></li>
                <li><a href="#/favorite-page">Favorite</a></li>
                <li><a href="https://github.com/nararyacodetechy">About us</a></li>
            </ul>
        </nav>
        <button id="hamburgerButton" tabindex="0" aria-label="Click to Show Side Menu" class="canvas-menu">☰</button>
    </header>
    <!-- Header Section  -->

    <!-- Main Section  -->
    <main id="mainContent"></main>
    <!-- Main Section  -->

    <!-- Footer Section -->
    <footer>
        <section class="footer-links">
            <div class="links">
                <h3 tabindex="0" class="title">About Me</h3>
                <ul class="sub-links">
                    <li><a href="">Company Profile</a></li>
                    <li><a href="">Service Level Agreement</a></li>
                    <li><a href="">Service Rule</a></li>
                    <li><a href="">Payment Guide</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Sertification</a></li>
                </ul>
            </div>
            <div class="links">
                <h3 tabindex="0" class="title">Partner</h3>
                <ul class="sub-links">
                    <li><a href="">Afiliasi</a></li>
                    <li><a href="">Colaboration</a></li>
                    <li><a href="">Referral Program</a></li>
                    <li><a href="">Payment Guide</a></li>
                    <li><a href="">Follow Us</a></li>
                    <li><a href="">Whatsapp</a></li>
                </ul>
            </div>
            <div class="links">
                <h3 tabindex="0" class="title">Privacy</h3>
                <ul class="sub-links">
                    <li><a href="">Knowlegde</a></li>
                    <li><a href="">Service Level Agreement</a></li>
                    <li><a href="">Service Rule</a></li>
                    <li><a href="">Payment Guide</a></li>
                </ul>
            </div>
            <div class="links">
                <h3 tabindex="0" class="title">More Links</h3>
                <ul class="sub-links">
                    <li><a href="">News International</a></li>
                    <li><a href="">Blog & More Websites</a></li>
                    <li><a href="">Top Rangking</a></li>
                    <li><a href="">Product of Sale</a></li>
                </ul>
            </div>
        </section>
        <section class="footer-copyright">
            <p tabindex="0">Copyright &copy; 2023 - Restone.inc</p>
        </section>
    </footer>
    <!-- Footer Section -->

</body>

</html>