.skip-link {
    position: absolute;
    top: -50px;
    left: 20px;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 80px;
}

.skip-link:hover {
    background-color: #de3c47;
}